:root {
    /* colors */
    --wa-color-primary: #212529;
    --wa-desaturated-blue: #f4f7f970;
    --wa-strong-pink: #bf1650;
    --wa-vivid-sky-blue: #43c6f3;
    --wa-hunter-green: #41573d;
    --wa-russian-green: #658761;
    --wa-cultured: #f8f9fa;
    --wa-mikado-yellow: #fec30f;
    --wa-blue-de-france: #1e87e8;

    /* rbg colors */
    --wa-russian-green-rbg: rgb(65, 87, 61);

    /* gradient background */
    --wa-primary-bg: #abe9cd;
    --wa-primary-gradient: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    --wa-secondary-bg: #0cbaba;
    --wa-secondary-gradient: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

    /* background color */
    --wa-background-primary: rgb(248,249,250);

    /* svg */
    --wa-background-sun-moon: url("./assets/image/sun.svg");

    /* translate */
    --wa-dark-mode-ball-tx: translateX(0px);

    /* radius */
    --wa-border-radius-20: 20px;
}

[data-theme="dark"] {
    /* colors */
    --wa-color-primary: rgb(248,249,250);
    --wa-desaturated-blue: #567c98b3;

    /* gradient background */
    --wa-primary-bg: #0cbaba;
    --wa-primary-gradient: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    --wa-secondary-bg: #abe9cd;
    --wa-secondary-gradient: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

    /* background color */
    --wa-background-primary: rgb(3,37,65);

    /* svg */
    --wa-background-sun-moon: url("./assets/image/moon.svg");

    /* translate */
    --wa-dark-mode-ball-tx: translateX(23px);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo-link,
.logo-link:hover {
    color: var(--wa-vivid-sky-blue);
    text-decoration: none;
}