.not-found {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../assets/image/pexels-pixabay-46160.jpg) no-repeat center center fixed;
    background-size: cover;
}

.not-found-text {
    color: var(--wa-rich-black-fogra);
}