/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 16 version
*/

.header-bg {
    background: var(--wa-background-primary);
}
.navbar-icon-bars {
    width: 2rem;
    height: 2px;
    display: block;
    margin: 6px auto;
}

.NavLink {
    margin-top: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media (min-width: 992px) {
    .NavLink {
        margin-top: 0;
        margin-right: 1.5rem;
        padding: .5rem 0;
    }
}