/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 16 version
*/

.HeartWrapper {
    width: 54px;
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: #0000000a !important;
    height: 54px;
    border-radius: 50% !important;
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.HeartWrapper::after  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.HeartWrapper[data-pulse='true']::after {
    -webkit-animation: pulse 300ms 1;
    animation: pulse 300ms 1;
    background: #00000021 !important;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.heart-svg {
    z-index: 2 !important;
    width: 100%;
    position: relative;
    fill: var(--wa-color-primary);
}
