.DarkThemeContainer {
    margin-top: 1.5rem;
}

.dark-theme-mode {
    width: 50px;
    height: 25px;
    cursor: pointer;
    background: black;
    padding: 0 3.5px;
    border-radius: 25px;
    z-index: 1;
    border: 1px solid var(--wa-hunter-green);
}

.bi-moon-fill {
    fill: var(--wa-russian-green);
}

.bi-brightness-high-fill {
    fill: var(--wa-mikado-yellow);
}

.ball {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--wa-cultured);
    border: 1px solid var(--wa-hunter-green);
    z-index: 2;
    transition: transform 0.2s linear;
    transform: var(--wa-dark-mode-ball-tx);
}

@media (min-width: 992px) {
    .DarkThemeContainer {
        margin-top: 0;
    }
}
