.card-forecast-swiper {
    cursor: grab;
    width: 100%;
}

.card-forecast-days {
    min-width: 117.333px !important;
    width: 100%;
    background-color: transparent !important;
    border: none !important;
}

.card-forecast-hours {
    min-width: 65px !important;
    width: 100%;
    background-color: transparent !important;
    border: none !important;
}

.card-forecast-percentage {
    position: absolute;
    color: var(--wa-blue-de-france);
    top: -20px;
    font-size: 12px;
}

.card-forecast-icon {
    position: absolute;
    width: 33px !important;
    -webkit-filter: drop-shadow(0 0 2px white);
    filter: drop-shadow(0 0 2px white);
    pointer-events: none;
}
