.weather-search-form {
    background-color: var(--wa-desaturated-blue) !important;
    color: var(--wa-color-primary) !important;
    transition: none !important;
}

.weather-search-form-input {
    border-bottom-left-radius: var(--wa-border-radius-20) !important;
    border-top-left-radius: var(--wa-border-radius-20) !important;
}

.weather-search-form-button {
    border-bottom-right-radius: var(--wa-border-radius-20) !important;
    border-top-right-radius: var(--wa-border-radius-20) !important;
}

.weather-search-form-input::placeholder {
    color: var(--wa-color-primary) !important;
}

.error {
    color: var(--wa-strong-pink);
}

.weather-search-wrapper-svg {
    background-color: var(--wa-desaturated-blue) !important;
}

.weather-search-svg {
    color: var(--wa-color-primary) !important;
}

/* https://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery */
.weather-search-form-input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
} /* Chrome <=56, Safari < 10 */
.weather-search-form-input:-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
} /* FF 4-18 */
.weather-search-form-input::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
} /* FF 19-51 */
.weather-search-form-input:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
} /* IE 10+ */
.weather-search-form-input::placeholder {
    opacity: 1;
    transition: opacity 0.5s;
} /* Modern Browsers */

.weather-search-form-input:focus::-webkit-input-placeholder {
    opacity: 0;
} /* Chrome <=56, Safari < 10 */
.weather-search-form-input:focus:-moz-placeholder {
    opacity: 0;
} /* FF 4-18 */
.weather-search-form-input:focus::-moz-placeholder {
    opacity: 0;
} /* FF 19-50 */
.weather-search-form-input:focus:-ms-input-placeholder {
    opacity: 0;
} /* IE 10+ */
.weather-search-form-input:focus::placeholder {
    opacity: 0;
} /* Modern Browsers */
