/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 16 version
*/

.weather-contry {
    font-size: 12px;
}

.card-weather-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card-weather-info-details {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
}

.card-weather-icon {
    width: 100px !important;
    -webkit-filter: drop-shadow(0 0 4px white);
    filter: drop-shadow(0 0 4px white);
}

.card-weather-temp {
    font-size: 70px !important;
}

.weather-condition {
    padding-bottom: 1.5rem;
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    padding-top: 1rem;
}

@media only screen and (min-width: 479px) {
    .card-weather-info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .card-weather-info-details {
        -webkit-box-ordinal-group: 2 !important;
            -ms-flex-order: 1 !important;
                order: 1 !important;
    }

    .weather-condition {
        padding-bottom: 1.5rem;
        -webkit-box-ordinal-group: 3 !important;
            -ms-flex-order: 2 !important;
                order: 2 !important;
        padding-top: 0;
    }
}