.card-header {
    border: none !important;
    background: transparent !important;
}

.card-weather-info {
    flex-direction: column;
    justify-content: center;
}

.card-weather-info-details {
    order: 2 !important;
}

.card-weather-icon {
    width: 100px !important;
    -webkit-filter: drop-shadow(0 0 4px white);
    filter: drop-shadow(0 0 4px white);
}

.card-weather-temp {
    font-size: 70px !important;
}

.weather-contry {
    font-size: 12px;
}

.weather-condition {
    padding-bottom: 1.5rem;
    order: 1 !important;
    padding-top: 1rem;
}

@media only screen and (min-width: 479px) {
    .card-weather-info {
        flex-direction: row;
        justify-content: space-between;
    }

    .card-weather-info-details {
        order: 1 !important;
    }

    .weather-condition {
        padding-bottom: 1.5rem;
        order: 2 !important;
        padding-top: 0;
    }
}
